:root {
  --blue-line-color: #3f51b5;
  --shadow-color: #606a9f;
  --gray-background: #c5c3e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Oswald", sans-serif; */
}

header {
  height: 20vh;
  border-bottom: 1px solid var(--blue-line-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  background-image: url(./images/fondo.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

header img {
  height: 100%;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  text-shadow: 1px 1px 6px var(--shadow-color);
}

nav {
  height: 12vh;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid var(--blue-line-color);
}

nav ul {
  list-style: none;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  color: black;
  text-decoration: none;
  /* background-color: red; */
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  box-shadow: 2px 1px 4px black;
}

h2 {
  margin-bottom: 1rem;
}

.recomendados-article--container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.recomendados-article--container .recomendados--article {
  background-color: #3f51b5;
  height: 200px;
  width: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  border: 1px solid var(--blue-line-color);
  margin: 0 20px;
}

.article_1 {
  background-image: url(./images/jedi.webp);
}
.article_2 {
  background-image: url(./images/Valorant.jpg);
}
.article_3 {
  background-image: url(./images/league-of-legends.jpg);
}

.recomendados--article h6 {
  /* color: rebeccapurple; */
  background-color: var(--gray-background);
  width: 100%;
  font-size: 1rem;
}

.plataformas--container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.plataformas-article--container {
  display: flex;
  justify-content: center;
}

.plataformas-article--container .plataformas-article {
  margin: 0 20px;
}

.plataformas-list--container {
  background-color: var(--gray-background);
  border: 1px solid var(--blue-line-color);
  padding: 1rem;
  width: 200px;
  text-align: start;
}

.plataformas-list--container ul {
  list-style: inside;
}

.plataformas-table--container {
  background-color: var(--gray-background);
  border: 1px solid var(--blue-line-color);
  padding: 0.2rem 1rem;
  display: inline-flex;
}

.plataformas-table--container table {
  border-collapse: collapse;
  background-color: white;
  width: 200px;
}

.plataformas-table--container table td,
th {
  border: 1px solid var(--blue-line-color);
  padding: 0.2rem 0.7rem;
}

footer {
  background-color: black;
  color: white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
.form--container {
  /* background-color: yellow; */
}
.form--container form {
  /* background-color: green; */
  border: 1px solid white;
  padding: 0.5rem 1rem;
}

.form--container .suscribite--label {
  position: absolute;
  bottom: -0.5rem;
  transform: translateY(100%);
  background-color: black;
  /* color: red; */
}
